n8n/mind-coach-session-end-readiness-agent.json
{
  "name": "Mind Coach - Session End Readiness Agent v2 (Execute Trigger)",
  "nodes": [
    {
      "parameters": {},
      "id": "node_trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value) {\n  if (typeof value !== 'string') return null;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nconst root = $json || {};\nconst body = typeof root.body === 'string' ? (parseMaybeJson(root.body) || {}) : (root.body || {});\nconst d = (body && typeof body === 'object' && Object.keys(body).length > 0) ? body : root;\n\nconst pc = d.phase_context || {};\n\nconst systemPrompt = [\n  'You are a phase-readiness evaluator for structured therapy progression.',\n  'Assess readiness conservatively using phase context, transcript, assessments, mood, and risk signals.',\n  'Return ONLY valid JSON.'\n].join('\\n');\n\nconst userPrompt = [\n  'PHASE CONTEXT:', JSON.stringify({ current_phase: pc.current_phase || d.currentPhase || {}, next_phase: pc.next_phase || null, completed_in_current_phase: pc.completed_in_current_phase, target_sessions_in_current_phase: pc.target_sessions_in_current_phase, recent_case_notes: d.recent_case_notes || [], assessments: d.assessments || [], mood_entries: d.mood_entries || [] }),\n  '', 'MESSAGES:', JSON.stringify(d.messages || []),\n  '', 'TRANSCRIPT:', d.transcript || '',\n  '', 'Return JSON schema: {\"readiness_for_next_phase\":\"not_ready | approaching | ready\",\"risk_level\":\"low | medium | high | critical\",\"requires_escalation\":false,\"crisis_detected\":false,\"readiness_rationale\":\"string\",\"readiness_confidence\":0.0}'\n].join('\\n');\n\nreturn [{ json: { systemPrompt, userPrompt } }];"
      },
      "id": "node_prompt_builder",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        },
        "hasOutputParser": true
      },
      "id": "node_agent",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "node_llm",
      "name": "LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"readiness_for_next_phase\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"not_ready\",\n        \"approaching\",\n        \"ready\"\n      ]\n    },\n    \"risk_level\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"low\",\n        \"medium\",\n        \"high\",\n        \"critical\"\n      ]\n    },\n    \"requires_escalation\": {\n      \"type\": \"boolean\"\n    },\n    \"crisis_detected\": {\n      \"type\": \"boolean\"\n    },\n    \"readiness_rationale\": {\n      \"type\": \"string\"\n    },\n    \"readiness_confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  },\n  \"required\": [\n    \"readiness_for_next_phase\",\n    \"risk_level\",\n    \"requires_escalation\",\n    \"crisis_detected\",\n    \"readiness_rationale\",\n    \"readiness_confidence\"\n  ]\n}"
      },
      "id": "node_output_parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value) {\n  if (typeof value !== 'string') return null;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nfunction pickSource(payload) {\n  if (!payload || typeof payload !== 'object') return {};\n  if (payload.output && typeof payload.output === 'object') {\n    if (payload.output.output && typeof payload.output.output === 'object') return payload.output.output;\n    return payload.output;\n  }\n  const parsedOutput = parseMaybeJson(payload.output);\n  if (parsedOutput && typeof parsedOutput === 'object') return parsedOutput;\n  if (payload.data && typeof payload.data === 'object') return payload.data;\n  return payload;\n}\n\nconst source = pickSource($json);\nreturn [{\n  json: {\n    branch: 'readiness',\n    model: 'gpt-4o-mini',\n    readiness_for_next_phase: source.readiness_for_next_phase || 'not_ready',\n    risk_level: source.risk_level || 'low',\n    requires_escalation: Boolean(source.requires_escalation),\n    crisis_detected: Boolean(source.crisis_detected),\n    readiness_rationale: source.readiness_rationale || '',\n    readiness_confidence: typeof source.readiness_confidence === 'number' ? source.readiness_confidence : 0.5\n  }\n}];"
      },
      "id": "node_wrap",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        240
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "mc-session-end-readiness-v2-exec-trigger-2026-03-27"
}
