n8n/mind-coach-session-end.json
{
    "name": "Mind Coach - Session End Summarizer v3 (Phase-Anchored)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "mind-coach-session-end",
                "options": {}
            },
            "id": "node_webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [0, 300]
        },
        {
            "parameters": {
                "jsCode": "const data = $node[\"Webhook\"].json.body;\nconst profile = data.profile || {};\nconst session = data.session || {};\nconst currentPhase = data.currentPhase || {};\nconst transcript = data.transcript || \"\";\n\n// ── Phase-appropriate task guidance ────────────────────────────────────────\nconst phaseNumber = currentPhase.phase_number || currentPhase.number || 1;\n\nconst PHASE_TASK_GUIDANCE = {\n  1: {\n    types: ['journaling', 'somatic_exercise'],\n    focus: 'awareness-building and self-observation only. Do NOT assign exposure, challenging cognitive reframes, or difficult behavioural experiments. Tasks must feel safe, exploratory, and low-stakes. The client is still building trust.'\n  },\n  2: {\n    types: ['journaling', 'cognitive_reframing'],\n    focus: 'identifying patterns and gently questioning them. Tasks should help the client notice and name their thoughts, triggers, and emotional responses. Do NOT assign exposure tasks yet — pattern recognition precedes action.'\n  },\n  3: {\n    types: ['cognitive_reframing', 'behavioral_exposure', 'somatic_exercise', 'situational_prep'],\n    focus: 'active skill-building and behavioural experiments. Now is the time for graded exposure, active coping tools, and trying new behaviours in real life. Tasks should be specific and challenge the client constructively.'\n  },\n  4: {\n    types: ['journaling', 'situational_prep', 'general'],\n    focus: 'integration, relapse prevention, and building a sustainable self-care plan. Tasks should consolidate progress, identify future warning signs, and anchor the client in a new identity and set of skills.'\n  }\n};\n\nconst guidance = PHASE_TASK_GUIDANCE[phaseNumber] || PHASE_TASK_GUIDANCE[1];\n\nconst systemPrompt = `You are a clinical supervisor generating structured post-session documentation for an AI therapy session.\n\nSession context:\n- Client name: ${profile.name || 'User'}\n- Pathway: ${session.pathway || 'engagement_rapport_and_assessment'}\n- Dynamic theme: ${session.dynamic_theme || 'Not yet identified'}\n- Session number: ${session.session_number || 1}\n- Current phase: ${currentPhase.name || 'Phase 1'} (Phase ${phaseNumber} of 4)\n- Phase goal: ${currentPhase.goal || 'Establish therapeutic rapport and build safety'}\n\n━━━ CRITICAL TASK ASSIGNMENT RULES ━━━\n\nTasks MUST be anchored to the CURRENT PATHWAY (${session.pathway || 'engagement_rapport_and_assessment'}) and PHASE ${phaseNumber}.\n\nPhase ${phaseNumber} task focus:\n${guidance.focus}\n\nPreferred task types for Phase ${phaseNumber}: ${guidance.types.join(', ')}\n\nFurther rules:\n1. Tasks MUST be deeply personalised to THIS specific client — reference their name (${profile.name || 'the client'}), the specific triggers, situations, or language they used in today's transcript.\n2. Use concrete, actionable language. Vague tasks (\"try to relax more\") are not acceptable.\n3. Assign 1 to 3 tasks per session. Fewer, well-chosen tasks are better than many generic ones.\n4. Match task difficulty to phase: Phase 1 = observational and safe. Phase 3 = active and challenging.\n5. Think of the task library as inspiration anchored to phase: journaling/somatic in Phase 1, pattern/cognitive in Phase 2, exposure/skill in Phase 3, integration in Phase 4.\n\nAvailable task types:\n- journaling: Written reflection exercises\n- somatic_exercise: Breathing, grounding, or body-based movement\n- cognitive_reframing: Thought records or belief-testing exercises\n- behavioral_exposure: Gradually facing a feared or avoided situation\n- situational_prep: Preparing for a specific upcoming event or conversation\n- general: Any other clinically appropriate assignment\n\nIMPORTANT: Do NOT generate any dates or timestamps. The backend calculates all dates automatically. Provide only suggested_duration_days as a plain integer.\n\nReturn ONLY valid JSON.`;\n\nconst userPrompt = `Analyze this therapy transcript and generate post-session documentation.\n\nTRANSCRIPT:\n${transcript}\n\nReturn JSON with this EXACT schema:\n{\n  \"case_notes\": {\n    \"presenting_concern\": \"string\",\n    \"dynamic_theme\": \"string\",\n    \"phase_progress\": \"string - describe progress toward the Phase ${phaseNumber} goal: ${currentPhase.goal || 'building rapport'}\",\n    \"readiness_for_next_phase\": \"not_ready | approaching | ready\"\n  },\n  \"session_summary\": {\n    \"title\": \"string - warm, non-clinical title\",\n    \"opening_reflection\": \"string - empathetic recap of the session\",\n    \"quote_of_the_day\": \"string - a short inspiring quote relevant to this session\",\n    \"energy_shift\": {\n      \"start\": \"string (e.g., Anxious, Tired, Overwhelmed)\",\n      \"end\": \"string (e.g., Calm, Grounded, Heard)\"\n    },\n    \"psychological_flexibility\": {\n      \"self_awareness\": \"integer 0-100\",\n      \"observation\": \"integer 0-100\",\n      \"physical_awareness\": \"integer 0-100\",\n      \"core_values\": \"integer 0-100\",\n      \"relationships\": \"integer 0-100\"\n    },\n    \"self_compassion_score\": \"integer 0-100 (high if they gave themselves grace, low if self-critical)\"\n  },\n  \"extracted_tasks\": [\n    {\n      \"task_type\": \"${guidance.types.join(' | ')}\",\n      \"dynamic_title\": \"string - concise, personalised, action-oriented title referencing the user's specific situation\",\n      \"dynamic_description\": \"string - specific instructions tailored to this user's exact context. Mention their name, their specific trigger or situation if relevant.\",\n      \"frequency\": \"daily | weekly | situational | once\",\n      \"suggested_duration_days\": \"integer\"\n    }\n  ],\n  \"extracted_memories\": [\n    {\n      \"memory_text\": \"string - specific fact, preference, trigger, or goal to remember long-term\",\n      \"memory_type\": \"fact | trigger | coping_strategy | relationship | goal\"\n    }\n  ]\n}`;\n\nreturn [{ json: { systemPrompt, userPrompt } }];"
            },
            "id": "node_prompt_builder",
            "name": "Prompt Builder",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [220, 300]
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.userPrompt }}",
                "options": {
                    "systemMessage": "={{ $json.systemPrompt }}"
                }
            },
            "id": "node_summarizer_agent",
            "name": "Summarizer Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [440, 300]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0.2
                }
            },
            "id": "node_summarizer_llm",
            "name": "Summarizer LLM",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [440, 500]
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"case_notes\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"presenting_concern\": { \"type\": \"string\" },\n        \"dynamic_theme\": { \"type\": \"string\" },\n        \"phase_progress\": { \"type\": \"string\" },\n        \"readiness_for_next_phase\": { \"type\": \"string\", \"enum\": [\"not_ready\", \"approaching\", \"ready\"] }\n      },\n      \"required\": [\"presenting_concern\", \"dynamic_theme\", \"phase_progress\", \"readiness_for_next_phase\"]\n    },\n    \"session_summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"opening_reflection\": { \"type\": \"string\" },\n        \"quote_of_the_day\": { \"type\": \"string\" },\n        \"energy_shift\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"start\": { \"type\": \"string\" },\n            \"end\": { \"type\": \"string\" }\n          },\n          \"required\": [\"start\", \"end\"]\n        },\n        \"psychological_flexibility\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"self_awareness\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n            \"observation\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n            \"physical_awareness\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n            \"core_values\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 },\n            \"relationships\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 }\n          },\n          \"required\": [\"self_awareness\", \"observation\", \"physical_awareness\", \"core_values\", \"relationships\"]\n        },\n        \"self_compassion_score\": { \"type\": \"integer\", \"minimum\": 0, \"maximum\": 100 }\n      },\n      \"required\": [\"title\", \"opening_reflection\", \"quote_of_the_day\", \"energy_shift\", \"psychological_flexibility\", \"self_compassion_score\"]\n    },\n    \"extracted_tasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"task_type\": { \"type\": \"string\", \"enum\": [\"journaling\", \"somatic_exercise\", \"cognitive_reframing\", \"behavioral_exposure\", \"situational_prep\", \"general\"] },\n          \"dynamic_title\": { \"type\": \"string\" },\n          \"dynamic_description\": { \"type\": \"string\" },\n          \"frequency\": { \"type\": \"string\", \"enum\": [\"daily\", \"weekly\", \"situational\", \"once\"] },\n          \"suggested_duration_days\": { \"type\": \"integer\", \"minimum\": 1, \"maximum\": 90 }\n        },\n        \"required\": [\"task_type\", \"dynamic_title\", \"dynamic_description\", \"frequency\", \"suggested_duration_days\"]\n      }\n    },\n    \"extracted_memories\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"memory_text\": { \"type\": \"string\" },\n          \"memory_type\": { \"type\": \"string\", \"enum\": [\"fact\", \"trigger\", \"coping_strategy\", \"relationship\", \"goal\"] }\n        },\n        \"required\": [\"memory_text\", \"memory_type\"]\n      }\n    }\n  },\n  \"required\": [\"case_notes\", \"session_summary\", \"extracted_tasks\", \"extracted_memories\"]\n}"
            },
            "id": "node_output_parser",
            "name": "Structured Output Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.2,
            "position": [440, 680]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "node_respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [660, 300]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [{ "node": "Prompt Builder", "type": "main", "index": 0 }]
            ]
        },
        "Prompt Builder": {
            "main": [
                [{ "node": "Summarizer Agent", "type": "main", "index": 0 }]
            ]
        },
        "Summarizer Agent": {
            "main": [
                [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
            ]
        },
        "Summarizer LLM": {
            "ai_languageModel": [
                [{ "node": "Summarizer Agent", "type": "ai_languageModel", "index": 0 }]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [{ "node": "Summarizer Agent", "type": "ai_outputParser", "index": 0 }]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "mc-session-end-v3-phase-anchored-2026-03-26"
}