n8n/mind-coach-session-end-summary-agent.json
{
  "name": "Mind Coach - Session End Summary Agent v2 (Execute Trigger)",
  "nodes": [
    {
      "parameters": {},
      "id": "node_trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value) {\n  if (typeof value !== 'string') return null;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nconst root = $json || {};\nconst body = typeof root.body === 'string' ? (parseMaybeJson(root.body) || {}) : (root.body || {});\nconst d = (body && typeof body === 'object' && Object.keys(body).length > 0) ? body : root;\n\nconst systemPrompt = [\n  'You are a clinical supervisor generating post-session summary and tasks.',\n  'Use transcript + profile + phase context + assessments + tasks + mood context.',\n  'No date hallucinations. Return ONLY valid JSON.'\n].join('\\n');\n\nconst userPrompt = [\n  'SESSION CONTEXT:', JSON.stringify({ profile: d.profile || {}, session: d.session || {}, phase_context: d.phase_context || {}, active_tasks: d.active_tasks || [], assessments: d.assessments || [], mood_entries: d.mood_entries || [] }),\n  '', 'MESSAGES:', JSON.stringify(d.messages || []),\n  '', 'TRANSCRIPT:', d.transcript || '',\n  '', 'Return JSON schema:',\n  '{',\n  '  \"case_notes_base\": { \"presenting_concern\": \"string\", \"dynamic_theme\": \"string\", \"phase_progress\": \"string\" },',\n  '  \"session_summary\": { \"title\": \"string\", \"opening_reflection\": \"string\", \"quote_of_the_day\": \"string\", \"energy_shift\": { \"start\": \"string\", \"end\": \"string\" }, \"psychological_flexibility\": { \"self_awareness\": 0, \"observation\": 0, \"physical_awareness\": 0, \"core_values\": 0, \"relationships\": 0 }, \"self_compassion_score\": 0 },',\n  '  \"extracted_tasks\": [{ \"task_type\": \"journaling | somatic_exercise | cognitive_reframing | behavioral_exposure | situational_prep | general\", \"dynamic_title\": \"string\", \"dynamic_description\": \"string\", \"frequency\": \"daily | weekly | situational | once\", \"suggested_duration_days\": 7 }]',\n  '}'\n].join('\\n');\n\nreturn [{ json: { systemPrompt, userPrompt } }];"
      },
      "id": "node_prompt_builder",
      "name": "Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        },
        "hasOutputParser": true
      },
      "id": "node_agent",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "node_llm",
      "name": "LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"case_notes_base\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"presenting_concern\": {\n          \"type\": \"string\"\n        },\n        \"dynamic_theme\": {\n          \"type\": \"string\"\n        },\n        \"phase_progress\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"presenting_concern\",\n        \"dynamic_theme\",\n        \"phase_progress\"\n      ]\n    },\n    \"session_summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\"\n        },\n        \"opening_reflection\": {\n          \"type\": \"string\"\n        },\n        \"quote_of_the_day\": {\n          \"type\": \"string\"\n        },\n        \"energy_shift\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"start\": {\n              \"type\": \"string\"\n            },\n            \"end\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"start\",\n            \"end\"\n          ]\n        },\n        \"psychological_flexibility\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"self_awareness\": {\n              \"type\": \"integer\",\n              \"minimum\": 0,\n              \"maximum\": 100\n            },\n            \"observation\": {\n              \"type\": \"integer\",\n              \"minimum\": 0,\n              \"maximum\": 100\n            },\n            \"physical_awareness\": {\n              \"type\": \"integer\",\n              \"minimum\": 0,\n              \"maximum\": 100\n            },\n            \"core_values\": {\n              \"type\": \"integer\",\n              \"minimum\": 0,\n              \"maximum\": 100\n            },\n            \"relationships\": {\n              \"type\": \"integer\",\n              \"minimum\": 0,\n              \"maximum\": 100\n            }\n          },\n          \"required\": [\n            \"self_awareness\",\n            \"observation\",\n            \"physical_awareness\",\n            \"core_values\",\n            \"relationships\"\n          ]\n        },\n        \"self_compassion_score\": {\n          \"type\": \"integer\",\n          \"minimum\": 0,\n          \"maximum\": 100\n        }\n      },\n      \"required\": [\n        \"title\",\n        \"opening_reflection\",\n        \"quote_of_the_day\",\n        \"energy_shift\",\n        \"psychological_flexibility\",\n        \"self_compassion_score\"\n      ]\n    },\n    \"extracted_tasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"task_type\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"journaling\",\n              \"somatic_exercise\",\n              \"cognitive_reframing\",\n              \"behavioral_exposure\",\n              \"situational_prep\",\n              \"general\"\n            ]\n          },\n          \"dynamic_title\": {\n            \"type\": \"string\"\n          },\n          \"dynamic_description\": {\n            \"type\": \"string\"\n          },\n          \"frequency\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"daily\",\n              \"weekly\",\n              \"situational\",\n              \"once\"\n            ]\n          },\n          \"suggested_duration_days\": {\n            \"type\": \"integer\",\n            \"minimum\": 1,\n            \"maximum\": 90\n          }\n        },\n        \"required\": [\n          \"task_type\",\n          \"dynamic_title\",\n          \"dynamic_description\",\n          \"frequency\",\n          \"suggested_duration_days\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"case_notes_base\",\n    \"session_summary\",\n    \"extracted_tasks\"\n  ]\n}"
      },
      "id": "node_output_parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseMaybeJson(value) {\n  if (typeof value !== 'string') return null;\n  try { return JSON.parse(value); } catch { return null; }\n}\n\nfunction pickSource(payload) {\n  if (!payload || typeof payload !== 'object') return {};\n  if (payload.output && typeof payload.output === 'object') {\n    if (payload.output.output && typeof payload.output.output === 'object') return payload.output.output;\n    return payload.output;\n  }\n  const parsedOutput = parseMaybeJson(payload.output);\n  if (parsedOutput && typeof parsedOutput === 'object') return parsedOutput;\n  if (payload.data && typeof payload.data === 'object') return payload.data;\n  return payload;\n}\n\nconst source = pickSource($json);\nreturn [{\n  json: {\n    branch: 'summary',\n    model: 'gpt-4o-mini',\n    case_notes_base: source.case_notes_base || {},\n    session_summary: source.session_summary || {},\n    extracted_tasks: Array.isArray(source.extracted_tasks) ? source.extracted_tasks : []\n  }\n}];"
      },
      "id": "node_wrap",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        240
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "mc-session-end-summary-v2-exec-trigger-2026-03-27"
}
