n8n/mind-coach-session-end.json
{
  "name": "Mind Coach - Session End Orchestrator v6 (Execute Workflow)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mind-coach-session-end",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "node_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $node[\"Webhook\"].json.body || {};\nconst messages = Array.isArray(body.messages) ? body.messages : [];\nconst transcript = (typeof body.transcript === 'string' && body.transcript.trim().length > 0)\n  ? body.transcript\n  : messages\n      .map((m) => (m.role === 'user' ? 'Client' : 'Therapist') + ': ' + String(m.content || ''))\n      .join('\\n');\n\nreturn [{\n  json: {\n    session_id: body.session_id || '',\n    profile_id: body.profile_id || '',\n    profile: body.profile || {},\n    session: body.session || {},\n    phase_context: body.phase_context || {},\n    currentPhase: body.currentPhase || body.phase_context?.current_phase || {},\n    messages,\n    transcript,\n    memories: Array.isArray(body.memories) ? body.memories : [],\n    current_memory: body.current_memory || null,\n    recent_case_notes: Array.isArray(body.recent_case_notes) ? body.recent_case_notes : [],\n    active_tasks: Array.isArray(body.active_tasks) ? body.active_tasks : [],\n    assessments: Array.isArray(body.assessments) ? body.assessments : [],\n    mood_entries: Array.isArray(body.mood_entries) ? body.mood_entries : [],\n    memory_workflow_id: body.memory_workflow_id || 'REPLACE_WITH_MEMORY_WORKFLOW_ID',\n    summary_workflow_id: body.summary_workflow_id || 'REPLACE_WITH_SUMMARY_WORKFLOW_ID',\n    readiness_workflow_id: body.readiness_workflow_id || 'REPLACE_WITH_READINESS_WORKFLOW_ID'\n  }\n}];"
      },
      "id": "node_normalize",
      "name": "Normalize Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.memory_workflow_id }}",
        "options": {},
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node_exec_memory",
      "name": "Execute Memory Child",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        460,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.summary_workflow_id }}",
        "options": {},
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node_exec_summary",
      "name": "Execute Summary Child",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        460,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.readiness_workflow_id }}",
        "options": {},
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "node_exec_readiness",
      "name": "Execute Readiness Child",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        460,
        560
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node_merge_memory_summary",
      "name": "Merge Memory+Summary",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node_merge_all",
      "name": "Merge All Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const payloads = $input.all().map((i) => i.json || {});\nconst memory = payloads.find((p) => p.branch === 'memory');\nconst summary = payloads.find((p) => p.branch === 'summary');\nconst readiness = payloads.find((p) => p.branch === 'readiness');\n\nif (!memory) throw new Error('MERGE_ERROR: Missing memory branch response');\nif (!summary) throw new Error('MERGE_ERROR: Missing summary branch response');\nif (!readiness) throw new Error('MERGE_ERROR: Missing readiness branch response');\nif (!Array.isArray(memory.extracted_memories) || memory.extracted_memories.length === 0) {\n  throw new Error('MERGE_ERROR: Invalid extracted_memories from memory workflow');\n}\nif (!summary.session_summary || !summary.case_notes_base) {\n  throw new Error('MERGE_ERROR: Invalid summary payload');\n}\nif (!['not_ready', 'approaching', 'ready'].includes(String(readiness.readiness_for_next_phase || ''))) {\n  throw new Error('MERGE_ERROR: Invalid readiness_for_next_phase');\n}\n\nconst cnb = summary.case_notes_base;\nconst rc = Number(readiness.readiness_confidence);\nconst riskLevel = String(readiness.risk_level || 'low').toLowerCase();\nconst majorRisk = ['high', 'critical'].includes(riskLevel) || Boolean(readiness.requires_escalation) || Boolean(readiness.crisis_detected);\nconst completionScoreRaw = Number(summary.completion_score ?? summary.session_summary?.completion_score ?? (String(readiness.readiness_for_next_phase) === 'ready' ? 0.8 : 0.45));\nconst completionScore = Number.isFinite(completionScoreRaw) ? Math.max(0, Math.min(1, completionScoreRaw)) : 0.45;\nconst objectiveSignal = typeof summary.objective_met === 'boolean' ? summary.objective_met : (completionScore >= 0.7 && !majorRisk);\nconst objectiveMet = majorRisk ? false : objectiveSignal;\nconst recommendedNextAction = majorRisk\n  ? (Boolean(readiness.requires_escalation) ? 'escalate' : 'stabilize')\n  : (objectiveMet ? 'advance' : 'revisit');\nconst shouldAdvance = !majorRisk && objectiveMet && String(readiness.readiness_for_next_phase) === 'ready';\n\nreturn [{\n  json: {\n    case_notes: {\n      presenting_concern: String(cnb.presenting_concern || ''),\n      dynamic_theme: String(cnb.dynamic_theme || ''),\n      phase_progress: String(cnb.phase_progress || ''),\n      readiness_for_next_phase: readiness.readiness_for_next_phase,\n      risk_level: riskLevel,\n      requires_escalation: Boolean(readiness.requires_escalation),\n      crisis_detected: Boolean(readiness.crisis_detected),\n      readiness_rationale: String(readiness.readiness_rationale || ''),\n      readiness_confidence: Number.isFinite(rc) ? Math.min(1, Math.max(0, rc)) : 0.5,\n    },\n    session_summary: summary.session_summary,\n    extracted_tasks: Array.isArray(summary.extracted_tasks) ? summary.extracted_tasks : [],\n    extracted_memories: memory.extracted_memories,\n    suggested_pathway: typeof summary.suggested_pathway === 'string' ? summary.suggested_pathway : null,\n    objective_met: objectiveMet,\n    completion_score: completionScore,\n    objective_confidence: Number.isFinite(Number(summary.objective_confidence)) ? Math.max(0, Math.min(1, Number(summary.objective_confidence))) : completionScore,\n    recommended_adjustments: summary.recommended_adjustments && typeof summary.recommended_adjustments === 'object' ? summary.recommended_adjustments : {},\n    session_transition: {\n      objective_met: objectiveMet,\n      session_transition: objectiveMet,\n      recommended_next_action: recommendedNextAction\n    },\n    phase_transition: {\n      phase_transition: shouldAdvance,\n      should_advance: shouldAdvance,\n      rationale: shouldAdvance ? 'objective_met_and_ready' : 'continue_current_phase'\n    },\n    agent_meta: {\n      architecture: 'parent_execute_workflow_children',\n      memory_agent_model: memory.model || 'gpt-4o-mini',\n      summary_agent_model: summary.model || 'gpt-4o-mini',\n      readiness_agent_model: readiness.model || 'gpt-4o-mini'\n    }\n  }\n}];"
      },
      "id": "node_merge_results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "node_respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        360
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "session_id": "11111111-1111-1111-1111-111111111111",
            "profile_id": "22222222-2222-2222-2222-222222222222",
            "memory_workflow_id": "REPLACE_WITH_MEMORY_WORKFLOW_ID",
            "summary_workflow_id": "REPLACE_WITH_SUMMARY_WORKFLOW_ID",
            "readiness_workflow_id": "REPLACE_WITH_READINESS_WORKFLOW_ID",
            "messages": [
              {
                "role": "user",
                "content": "I spiraled before my team presentation.",
                "created_at": "2026-03-27T10:01:00.000Z"
              },
              {
                "role": "assistant",
                "content": "What thoughts showed up right before the spiral?",
                "created_at": "2026-03-27T10:01:25.000Z"
              },
              {
                "role": "user",
                "content": "That everyone would think I am incompetent.",
                "created_at": "2026-03-27T10:02:02.000Z"
              }
            ],
            "transcript": "Client: I spiraled before my team presentation.\\nTherapist: What thoughts showed up right before the spiral?\\nClient: That everyone would think I am incompetent.",
            "profile": {
              "id": "22222222-2222-2222-2222-222222222222",
              "name": "Aarav",
              "age": 29,
              "gender": "male",
              "concerns": [
                "anxiety",
                "overthinking"
              ],
              "therapist_persona": "maya"
            },
            "session": {
              "pathway": "anxiety_and_stress_management",
              "dynamic_theme": "Performance anxiety",
              "session_number": 4
            },
            "phase_context": {
              "current_phase_index": 1,
              "total_phases": 4,
              "current_phase": {
                "phase_number": 2,
                "name": "Cognitive Reframing",
                "goal": "Identify and restructure anxious thought loops"
              },
              "next_phase": {
                "phase_number": 3,
                "name": "Behavioral Practice",
                "goal": "Apply skills in real-world triggers"
              },
              "completed_in_current_phase": 2,
              "target_sessions_in_current_phase": 3
            },
            "current_memory": {
              "memory_text": "Aarav experiences anticipatory anxiety before public speaking and tends to catastrophize peer judgment.",
              "memory_type": "life_context",
              "created_at": "2026-03-25T09:00:00.000Z"
            },
            "recent_case_notes": [
              {
                "dynamic_theme": "Fear of negative evaluation",
                "phase_progress": "Can identify automatic thoughts but struggles to challenge them independently"
              }
            ],
            "active_tasks": [
              {
                "task_type": "journaling",
                "dynamic_title": "Thought log before meetings",
                "dynamic_description": "Capture trigger-thought-emotion for each major meeting",
                "status": "active"
              }
            ],
            "assessments": [
              {
                "assessment_type": "gad7",
                "total_score": 11,
                "severity": "moderate",
                "created_at": "2026-03-20T08:00:00.000Z"
              }
            ],
            "mood_entries": [
              {
                "score": 5,
                "notes": "Nervous before standup",
                "created_at": "2026-03-26T07:45:00.000Z"
              },
              {
                "score": 7,
                "notes": "Felt better after breathing",
                "created_at": "2026-03-27T11:00:00.000Z"
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Context": {
      "main": [
        [
          {
            "node": "Execute Memory Child",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Summary Child",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Readiness Child",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Memory Child": {
      "main": [
        [
          {
            "node": "Merge Memory+Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Summary Child": {
      "main": [
        [
          {
            "node": "Merge Memory+Summary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Memory+Summary": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Readiness Child": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "mc-session-end-v6-execute-workflow-2026-03-27"
}
